body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

.wrapper1 {
    background-color: white;
    position: -webkit-sticky;
    /* Safari */
    top: 0%;
    z-index: 1;
}

.bara1 {
    width: 65%;
    margin: auto;
    padding: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bara1 ul li {
    display: inline-block;
    margin: 0px 10px;
}

.bara1 ul li a {
    text-decoration: none;
    color: black;
}

.wrapper {
    background-color: #f5f5f5;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0%;
    z-index: 1;
}

.bara2 {
    width: 66%;
    font-size: 125%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.bara2 ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.bara2 ul li a {
    text-decoration: none;
    color: black;
}

.bara2 ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #11559e;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.bara2 ul li:hover::after {
    width: 100%;
}

.bara2 ul li a current {
    border-bottom: 3px solid #11559e;
    /* Adaugă o linie albăstră sub text */
}

.wrapper3 {
    background-color: #f0f0f0;
    position: -webkit-sticky;
    /* Safari */
    top: 8%;
    z-index: 1;
    position: sticky;
}

.bara3 {
    overflow: hidden;
    width: 65%;
    font-size: 150%;
    margin: auto;
    padding: 0% 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bara3 ul li {
    display: inline-block;
    margin: 0px 10px;
}

.bara3 ul li a {
    text-decoration: none;
    color: black;
}

.sunteti-conectat{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.schimbadate {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
}

.resetare-parola {
    /* width: 200%; */
    font-size: 1.6em;
    text-align: center;
    /* border-style: solid;
    border-width: 2px;
    border-color: #11559e;
    border-radius: 10%;
    padding: 10px; */
}

.resetare-parola input {
     padding: 3%;
    width: calc(100% + 20px); /* Ajustează valoarea pentru a mări caseta */
    font-size: 80%;
    border-width: 0.3em;
    border-radius: 30px;
    border-color: #11559e;
    box-sizing: border-box;
    margin-left: -10px; /* Jumătate din valoarea adăugată la width pentru a extinde spre stânga */
    margin-right: -10px; /* Jumătate din valoarea adăugată la width pentru a extinde spre dreapta */
}

.resetare-email {
    /* width: 200%; */
    font-size: 1.6em;
    text-align: center;
    margin-left: 200px;
    /* border-style: solid;
    border-width: 2px;
    border-color: #11559e;
    border-radius: 15%;
    padding: 10px; */
}

.resetare-email input {
    padding: 3%;
    width: calc(100% + 20px); /* Ajustează valoarea pentru a mări caseta */
    font-size: 80%;
    border-width: 0.3em;
    border-radius: 30px;
    border-color: #11559e;
    box-sizing: border-box;
    margin-left: -10px; /* Jumătate din valoarea adăugată la width pentru a extinde spre stânga */
    margin-right: -10px; /* Jumătate din valoarea adăugată la width pentru a extinde spre dreapta */
}

.button{
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    padding:10px 30px;
    background-color: #11559e;
    color: white;
}

.buton-alb{
    cursor: pointer;
    font-size: 25px;
    border-radius: 15px;
    padding:10px 30px;
    background-color: white;
}