.fundal-rosu {
    color: red !important;
}

.favorite {
    font-family: FontAwesome;
    background: transparent;
    border: 0;
    margin-left: 4.5em;
    z-index: 1;
    font-size: 2em;
}

.element {
    position: relative; /* Containerul imaginii produsului */
    display: inline-block;
    margin: 10px;
    width: calc(25% - 20px); /* 25% lățime pentru a încăpea patru elemente pe rând, cu 10px margin între ele */
    box-sizing: border-box; /* Asigură-te că margin-ul este inclus în lățimea elementului */
}

.element:hover .imagine,
.element:hover .favorite {
    transform: scale(1.1); /* Mărește atât imaginea cât și inima */
}

.imagine {
    display: block;
    width: 100%; /* Asigură-te că imaginea ocupă întreg containerul */
    height: auto; /* Menține aspectul proporțional al imaginii */
    transition: transform 0.3s ease; /* Tranziție pentru imagine */
}

.favorite {
    font-family: FontAwesome;
    background: transparent;
    border: 0;
    position: absolute;
    top: 10px; /* Ajustează această valoare pentru a schimba poziția verticală */
    right: 10px; /* Ajustează această valoare pentru a schimba poziția orizontală */
    z-index: 1;
    font-size: 2em;
    color: black; /* Inițial, inima este neagră */
    transition: transform 0.3s ease; /* Tranziție pentru inimă */
}

.favorite.red {
    color: red; /* Inima devine roșie când are clasa .red */
}
